html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: transparent;
}

#camera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  background: transparent;
}

.graffiti-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 60%;
  z-index: 3;
  pointer-events: none;
}

